QWEN_API_KEY=xxx
QWEN_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

DEEPSEEK_API_KEY=xxx
DEEPSEEK_API_URL=https://api.deepseek.com

OLLAMA_API_URL=http://localhost:11434


REDIS_URL=redis://localhost:26379


OPENWEATHER_API_KEY=xxx
OPENWEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather
