langchain==1.2.12
langchain-core==1.2.19
langchain-community==0.4.1
langchain-openai==1.1.11
langchain-deepseek==1.0.1
langchain-ollama==1.0.1
langchain-unstructured==1.0.1
langchain-redis==0.2.5

openai==2.28.0
redis==5.3.1
PyJWT==2.12.1
jq==1.11.0

python-dotenv==1.2.2
loguru==0.7.3
pydantic==2.12.5

dashscope==1.25.13
grandalf==0.8
pyparsing==3.3.2

unstructured[md,docx]==0.21.5
python-docx==1.2.0
regex==2026.1.14

mcp==1.26.0

langgraph-checkpoint-sqlite==3.0.3